name: 'build-test'
on: # rebuild any PRs and main branch changes
  pull_request:
  push:
    branches:
      - main
      - 'releases/*'
      - 'wm/FAI-288' #TODO: Remove

jobs:
  build: # make sure build/ci work properly
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - run: |
          npm install
      - run: |
          npm run all
  test: # make sure the action works on a clean machine without building
    runs-on: ubuntu-latest
    env:
      FAROS_API_URL: https://dev.api.faros.ai
      FAROS_DRY_RUN: 1
    steps:
      - uses: actions/checkout@v2

      - name: Set build start time
        id: set_start_time
        run: |
          # Set the current time in milliseconds: https://serverfault.com/a/151112
          echo "::set-output name=started-at::$(date +%s%N | cut -b1-13)"

      - name: Set build end time
        id: set_end_time
        run: |
          # Set the current time in milliseconds: https://serverfault.com/a/151112
          echo "::set-output name=ended-at::$(date +%s%N | cut -b1-13)"

      - uses: ./
        name: Send CI event to Faros using commit
        id: send-ci-event-commit
        with:
          api-key: fake_key
          event: CI
          run-status: ${{ job.status }}
          run-started-at: ${{ steps.set_start_time.outputs.started-at }}
          run-ended-at: ${{ steps.set_end_time.outputs.ended-at }}

      - uses: ./
        name: Send CI event to Faros using artifact
        id: send-ci-event-artifact
        with:
          api-key: fake_key
          event: CI
          artifact: ${{ format('Docker://farosai/emitter/{0}', github.sha) }}
          run-status: ${{ job.status }}
          run-started-at: ${{ steps.set_start_time.outputs.started-at }}
          run-ended-at: ${{ steps.set_end_time.outputs.ended-at }}

      - uses: ./
        name: Send CD event to Faros using commit
        id: send-cd-event-commit
        with:
          api-key: fake_key
          event: CD
          deploy: ${{ format('CodeDeploy://Emitter/Prod/{0}', github.run_id) }}
          deploy-status: Success
          deploy-started-at: ${{ steps.set_start_time.outputs.started-at }}
          deploy-ended-at: ${{ steps.set_end_time.outputs.ended-at }}
          run-status: ${{ job.status }}

      - uses: ./
        name: Send CD event to Faros using artifact
        id: send-cd-event-artifact
        with:
          api-key: fake_key
          event: CD
          deploy: ${{ format('CodeDeploy://Emitter/Prod/{0}', github.run_id) }}
          deploy-status: Success
          deploy-started-at: ${{ steps.set_start_time.outputs.started-at }}
          deploy-ended-at: ${{ steps.set_end_time.outputs.ended-at }}
          artifact: ${{ format('Docker://farosai/emitter/{0}', github.sha) }}
          run-status: ${{ job.status }}
